/*CORES CSS E FONTES */
@import url(./colors.css);
@import url(../configuration/modal.css);
@import url(../configuration/footer.css);
@import url(./fonts.css);
@import url(./responcividade.css);
@import url(../configuration/fontsAndText.css);
@import url(./signInAndup.css);
@import url(../configuration/responsive.css);
* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}
/*1 REM == 10px */
html {
  font-size: 62.5%; /* 10px */
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
}

body,
button,
input {
  font-size: clamp(12px, 1.6rem, 2vw);
  font-family: var(--font-regular);
}
body {
  background-color: var(--white);

}
.top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  padding-left: var(--margin-container);
  padding-right: var(--margin-container);

  border-bottom: var(--borda) solid var(--black);
}
.top a {
  margin-right: 2.5rem;
}
.top2 {
  display: flex;
  justify-content: space-between;
}

.container {
  margin-left: var(--margin-container);
  margin-right: var(--margin-container);
}
.content{
  margin-bottom: 4rem;
}
img {
  width: 100%;
  border: var(--borda) solid var(--black);
  margin-bottom: 1.5rem;
  height: 28rem;
}

i {
  cursor: pointer;
}

body i svg {
  color: var(--gray300);
  width: 16px;
}

.show_filters{
  width: 15rem;
  padding: 1rem;
  border-radius: var(--border-radius);

}
#search{
  width: 34%;
 }
 #sources{
  width: 19%;
}

#categories{
   width: 19%;
}
#date{
  width:24% ;
}

.top2 input{
  margin-bottom: 3rem;
  padding: 1rem;
  border: var(--borda) solid var(--black);
  

}


.container_sima{
  display: flex;
  justify-content: space-between;
}

.alert{
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.62);
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  
}
.alert.ative{
  visibility: visible;
  opacity: 1;
}
.alert1 i svg{
  color: var(--white);
}
.alert1{
  gap: 1rem;
  align-items: center;
  display: flex;
  padding: 2rem;
  position: absolute;
  width: 25rem;
  left: 50%;
  top: 50%;
  color: var(--white);
  background-color: var(--red);
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);

}
  .categoryF{
   position: absolute;
     visibility: hidden;
     opacity: 0;
  }

  .guide{
    width: 30rem;
    cursor: pointer;
  }

  .sp{
    width: 25rem;
  }
.guide_top h2 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }