.top .sign_up {
    padding: var(--button-padding);
    border: none;
    color: var(--white);
    background-color: var(--black);
    border-radius: var(--border-radius);
  }
  
  .top .sign_in {
    padding: var(--button-padding);
    border: none;
    color: var(--black);
    background-color: var(--whitedest);
    border-radius: var(--border-radius);
  }
  