.container_modal.sign_up {
  visibility: visible;
  opacity: 1;
}
.container_modal.sign_in {
  visibility: visible;
  opacity: 1;
}
.container_modal {
  top: 0;
  bottom: 0%;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.665);
  visibility: hidden;
  opacity: 0;
}
.container_modal form {
  padding: 2rem;
  background-color: var(--white);
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);
}
.container_modal form label {
  display: block;
  margin-bottom: 0.6rem;
}

.container_modal form p {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.container_modal form input {
  width: 100%;
  padding: 1rem;
  border:var(--borda) solid var(--black);
  margin-bottom: 2rem;
}
.container_modal form button {
  width: 100%;
  padding: 1rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: var(--border-radius);
  border: none;
}

.container_modal form .txtmine::placeholder {
  color: black;
}
