
@media (max-width: 650px)
 {

.footer{
    padding: 2rem;
}
.footer input{
    width: 100%;
}
    :root {
        --black: #1c1c1c;
        --white: #fff;
        --gray300: #b9b9b9;
        --red: #ff3838;
        --whitedest: #f0f0f0;
        --font-medium: "Montserrat-Medium";
        --font-s-bolde: "Montserrat-SemiBold";
        --font-regular: "Montserrat-Regular";
        --font-title: "MochiyPopOne-Regular";
        --button-padding: 0.8rem;
        --border-radius: 0.5rem;
        --margin-container: 2rem;
        --borda:2px;
      }
    .number_pages{
        margin: auto;
    }  
    .divimage{
        width: 100%;
        
    }
    .divimage img{
       width: 100%;
      
    }

    .cont2{
        width: 100%;
    }
    .guide{
        width: 100%;
        margin: auto;

    }
    .container_sima{
      display: block;
      width: 100%;
       
    }
  .show_filters{
    width: 1rem;
  }


 button.config.open2{
    width: 6rem;
 }
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .container2 div{
         
         display: block;
    
    }
   
    .sign_in_sign_up button{
        width: 5rem;
        font-size: smaller;
    }
    .top{
      font-size: smaller;
      margin: .5rem;
    }
    .title .font{
      font-size: medium;
    }
    .title span.gray_color{
      display: none;
      visibility: hidden;
    }
    button.show_filters{
      width: 9rem;
      font-size: smaller;
    }

    footer .font{
      font-size: medium;
    }
  
   .user_name{
    position: absolute;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
   }
   .guide .guide_footer{
    display: flex;
   }
  .container .inputs{
     display: grid;
    grid-template-columns: repeat(1,1fr);
   }
    .inputs input{
      width: 100%;
    } 
    
     html body main.container .divimage img{
      width: 100%;
      height: auto;
      
    }
  }