

.add{
    color:var(--white);
    border: none;
}
.inputs {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2 , 1fr);
    margin-bottom: 10rem;
}
.inputs input{
  
    padding: 1rem;
    display: block;
   border: var(--borda) solid var(--black);
} 
.inputs input{
    margin-top: 1rem;
    margin-bottom:5rem ;
}
.container h2{
    margin-top: 3rem;
    margin-bottom: 5rem;
}


.alert1.c{
    background-color: rgb(35, 171, 35);
    
}
.addConfrim{
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.782);
    visibility: hidden;
    opacity: 0;
}

.addConfrim.ative{
    visibility: visible;
    opacity: 1;
}