@import url(../global/global.css);

.description{
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.description .top2{
    margin-top: 1rem;
}
.divimage{
    border-bottom: 1px solid var(--black);
    padding-bottom: 1rem;
}
.text1{
    text-align: justify;
}
.text1 p{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.font2{
    margin-bottom: 4rem;
}

 footer .font{
    margin-top: 2rem;
    margin-bottom: 6rem;
}
.cont2  .divimage img{
    height: 30rem;
    height: 40rem;
}
.cont2{
    margin: auto;
    width: 70%;
   
}