@import url(../global/global.css);

.title {
  display: flex;
  gap: 1rem;
}
.title span {
  margin-top: 2.3rem;
}
.content {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.top menu span {
  position: absolute;
  margin-top: 2.3rem;
}

.guide {
  width: 30rem;
  margin-bottom: 2rem;
}
.guide_top {
  border-bottom: var(--borda) solid var(--black);
}
.guide_top .txtmine {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
.guide_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
 
}

.number_pages {
  font-size: 12px;
  margin: 5rem;
  margin-bottom: 8rem;
}
.number_pages div {
  width: 20rem;
  margin: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.number_pages div i svg{
    color:var(--black);
}
