@import url(./filters_page.css);
.add svg {
  color: var(--white);
  width: 3rem;
  
}
.image i svg{
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.add{
  position: fixed;
    padding: 1rem;
    background-color:var(--black) ;
    border-radius: var(--border-radius);
    bottom: 0;
  right: 0;    
  margin: 2rem;
}
.user{
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;


}
.user.open .img{
 display: flex;
 gap: 1rem;
 align-items: center;
}
.user.open .img .image1 svg{
  display: inline;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0%;
    cursor: pointer;
    
  
}

.user_name{
    display: flex;
}
.show-config{
    display: flex;
    width: 30%;
    gap: 1rem;
  }
  

  .config{
    width: 5rem;
    height: 4rem;
    background-color: var(--black);
    border: none;
    border-radius: var(--border-radius);
    color: var(--white);
  }
  .config i svg{
    color: var(--white);
  }
  .show_filters{
    margin-left: 35%;
    width: 14rem;
    height: 4rem;
    background-color: var(--white);
    border: var(--borda) solid var(--black);
    border-radius: var(--border-radius);
    color: var(--black);
  }

  .custom_f{
     position: fixed;

     top: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(17, 17, 17, 0.6);
     visibility: hidden;
     opacity: 0;
 
  }
  
  .custom_f.modal{
    visibility: visible;
    opacity: 1;
  }
  

  .custom_f form{
    width: 32rem;
    background-color: var(--white);
    color: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2rem;
    border-radius: var(--border-radius);
  }

  .custom_f form input{
    width: 100%;
    padding: 1rem;
    border: var(--borda) solid var(--black);
    margin-bottom: 1.5rem;
    margin-top: 1.5em;
    
  }
  .custom_f form input::placeholder{
    color: var(--black);
    font-size: smaller;
  }
  .custom_f form .top2{
    margin-bottom: 1rem;
    margin-top: 1rem;
     
  }
  .custom_f form button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
    margin-top: 3rem;
  }
  .top3{
    display: flex;
    gap: 2rem;
  }

  .logout{
   position: fixed;
   top: 0%;
   background-color: rgba(0, 0, 0, 0.64);
   width: 100%;
   height: 100%;
   visibility: hidden;
   opacity: 0;
   
  }
  .logout.modal{
    visibility: visible;
    opacity: 1;
  }
  .logout .user_modal{
    z-index: 3;
      width: 30rem;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color:var(--white);
      transform: translate(-50% ,-50%);
      padding: 2rem;
      border-radius: var(--border-radius);

  }
  .logout .user_modal button{
     width: 100%;
     background-color: var(--red);
     border: none;
     padding: 1rem;
     border-radius: var(--border-radius);
     margin-top: 1rem;
     color: var(--white);
  }
  .logout .user_modal img{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 2rem;
  
  }