.container-details-articles {
  padding: 161px 255px 141px 255px;
}
.container-details-articles .article-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 0px 42px 0px;
}
.container-details-articles .article-image img {
  width: 100%;
  height: 487px;
  object-fit: cover;
  border: 2px solid var(--black);
}
.container-details-articles .article-description {
  border-bottom: 1px solid var(--black);
  padding: 32px 0px 34px 0px;
}

.container-details-articles .article-info-text {
  margin: 42px 0px 64px 0px;
}

.container-details-articles .article-info-text p {
  line-height: 30px;
}
