.container-filter .inputs-filter-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 62px 0px 22px 0px;
  gap: 20px;
}
.container-filter .inputs-filter-box .search-article-box {
  width: 40%;
}

.container-filter .inputs-filter-box .search-article-box input {
  padding: 19px 22px;
  border: 2px solid var(--black);
  width: 100%;
}

.container-filter .inputs-filter-box .filter-sources {
  width: 25%;
}
.container-filter .inputs-filter-box .filter-sources select {
  padding: 19px 22px;
  border: 2px solid var(--black);
  background: var(--background);
  width: 100%;
}

.container-filter .inputs-filter-box .filter-categories {
  width: 25%;
}
.container-filter .inputs-filter-box .filter-categories select {
  padding: 19px 22px;
  border: 2px solid var(--black);
  width: 100%;
  background: var(--background);
}

.container-filter .inputs-filter-box .filter-Date {
  width: 30%;
}
.container-filter .inputs-filter-box .filter-Date input {
  padding: 19px 22px;
  border: 2px solid var(--black);
  min-width: 100%;
}
