.container-loading-articles .box-image {
  min-width: 300px;
  min-height: 300px;
  animation: pulse 2s infinite;
}

.container-loading-articles .box-title {
  width: 250px;
  min-height: 20px;
  animation: pulse 2s infinite;
  margin: 10px 0px 10px 0px;
  border-radius: 6px;
}

.container-loading-articles .box-description {
  min-width: 300px;
  min-height: 30px;
  animation: pulse 2s infinite;
  margin: 10px 0px 10px 0px;
}

.container-loading-articles .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-loading-articles .info .box-author {
  width: 200px;
  min-height: 20px;
  animation: pulse 2s infinite;
  margin: 10px 0px 10px 0px;
  border-radius: 2px;
}

.container-loading-articles .info .box-date {
  width: 100px;
  min-height: 20px;
  animation: pulse 2s infinite;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

@keyframes pulse {
  0% {
    background-color: #d4d3d3;
  }
  50% {
    background-color: #c9c8c8;
  }
  100% {
    background-color: #e0dfdf;
  }
}
