.userSigned .info {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.userSigned aside.logout {
  position: absolute;
  padding: 26px;
  border: 1px solid var(--stroke);
  background: var(b);
  width: 236px;
  top: 120%;
  background: #ffffff62;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.userSigned aside.logout p {
  background: var(--red);
  color: var(--background);
  text-align: center;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
}
