.not-found-container {
  text-align: center;
  margin-top: 40px;
}

.error-message {
  font-size: 2rem;
  color: var(--gray200);
}
.error-description {
  margin: 20px 0;
  font-size: 1.2rem;
  color: var(--gray200);
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--gray10);
  background: var(--black);
  border-radius: 5px;
}

.home-link:hover {
  transition: all 0.5s;
  background-color: #3f3e3e;
}
