@import url("./assets/fonts/Montserrat/importFont.css");
@import url("./assets/fonts/Mochiy/importFont.css");
@import url("./assets/ui/index.css");
:root {
  --gray200: #6b6b6b;
  --gray10: #f2f2f2;
  --background: #f2f2f2;
  --black: #1c1c1c;
  font-family: "Mt-regular", sans-serif;
  color: var(--black);
  background: var(--background);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

p,
span,
a {
  font-size: 14px;
}

li {
  list-style: none;
}
