@import url("./assets/fonts/Montserrat/importFont.css");
@import url("./assets/fonts/Mochiy/importFont.css");

:root {
  font-family: "Mt-regular", sans-serif;
  font-weight: 400;
  color: #1c1c1c;
  background-color: #f2f2f2;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
